.SlideIn-appear {
  transform: translateY(-560px);
  opacity: 0;
}
.SlideIn-appear.SlideIn-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1.2s linear;
}
.SlideIn-enter {
  opacity: 0;
  transform: translateY(560px);
}
.SlideIn-enter.SlideIn-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s linear 0.8s;
}
.SlideIn-leave {
  opacity: 1;
  transform: translateY(0);
}
.SlideIn-leave.SlideIn-leave-active {
  opacity: 0;
  position: absolute;
  width: 100%;
  transform: translateY(560px);
  transition: all 0.4s linear;
}
